**Este cuaderno trata los datos hasta la separación entre train y test, todo el trabajo previo a entrenamiento.**

In [29]:
"""
Descarga de Archivos desde Google Drive sin Autenticación

Este script permite descargar archivos específicos desde Google Drive directamente a una ubicación local,
utilizando el ID de Google Drive del archivo (el archivo debe ser accesible para cualquier persona que tenga la URL).

El script procesa un archivo de texto ('archivos_info.txt') que contiene las IDs de Google Drive de los archivos,
los nombres con los que se desean guardar localmente, y las rutas locales de almacenamiento, todo separado por comas.

Formato esperado de 'archivos_info.txt':
ID_de_Google_Drive,Nombre_Archivo_Local,Ruta_Local

Ejemplo:
1hGvKmNAkK...,mi_archivo.txt,./descargas

Requisitos:
- Módulo 'requests' instalado en el entorno Python donde se ejecute este script.



"""

import requests
import os


def descargar_archivo_directo(id_archivo, directorio_destino, archivo_destino):
    """
    Descarga un archivo directamente desde Google Drive y lo guarda localmente.

    Parámetros:
    - id_archivo (str): ID del archivo en Google Drive.
    - directorio_destino (str): Ruta del directorio local donde se guardará el archivo.
    - archivo_destino (str): Nombre deseado para el archivo en local

    Devuelve:
    - archivo_destino (str): Nombre del archivo guardado.
    - ruta_completa (str): Ruta completa del archivo guardado.
    """
    # Construye la URL de descarga directa utilizando el ID del archivo
    url = f"https://drive.google.com/uc?export=download&id={id_archivo}"

    # Realiza la petición HTTP GET para descargar el archivo
    respuesta = requests.get(url, allow_redirects=True)

    # Comprueba que el directorio destino existe, si no, lo crea
    os.makedirs(directorio_destino, exist_ok=True)

    # Construye la ruta completa donde se guardará el archivo en local
    ruta_completa = os.path.join(directorio_destino, archivo_destino)

    # Guarda el contenido del archivo descargado en local
    with open(ruta_completa, 'wb') as archivo:
        archivo.write(respuesta.content)


    return archivo_destino, ruta_completa


def procesar_archivo_info(ruta_archivo_info):
    """
    Procesa un archivo de texto que contiene información sobre los archivos a descargar.

    Parámetros:
    - ruta_archivo_info (str): Ruta del archivo de texto que contiene los IDs de Google Drive,
                               los nombres de los archivos locales y las rutas locales.

    Devuelve:
    - Una lista de tuplas con el ID de Google Drive, el nombre local del archivo, y la ruta local.
    """
    archivos_info = []
    with open(ruta_archivo_info, 'r') as archivo:
        for linea in archivo:
            id_archivo, nombre_archivo, directorio_destino = linea.strip().split(',')
            archivos_info.append((id_archivo, nombre_archivo, directorio_destino))
    return archivos_info

In [30]:
# Ruta al archivo que contiene la información de los archivos a descargar
ruta_archivo_info = "info_archivos_GDrive.txt"

# Obtenemos la lista con la info de los archivos del fichero
archivos_a_descargar = procesar_archivo_info(ruta_archivo_info)

# Descargamos cada archivo de la lista
for id_archivo, nombre_archivo, directorio_destino in archivos_a_descargar:
    nombre_archivo_descargado, ruta_archivo_guardado = descargar_archivo_directo(id_archivo, directorio_destino, nombre_archivo)
    print(f"Archivo {nombre_archivo_descargado} guardado en: {ruta_archivo_guardado}")

Archivo datos_preparados_entrenamiento.parquet guardado en: ../Downloads\datos_preparados_entrenamiento.parquet

In [31]:
import pandas as pd
df = pd.read_parquet(ruta_archivo_guardado, engine='pyarrow')
df.describe()

,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,Tackles,...,marketValue,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
count,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,2267.000000,...,2.267000e+03,2267.000000,2267.000000,2267.000000,2267.000000,2.267000e+03,2.267000e+03,2.267000e+03,2.267000e+03,2.267000e+03
mean,1278.961182,1.606528,1.091751,3.073666,0.167622,0.637097,76.188355,0.943935,0.649316,0.883414,...,8.728672e+06,2020.518747,14.266873,5.426114,10.697397,8.734782e+06,7.517711e+06,5.845258e+06,4.469740e+06,9.814722e+06
std,971.453864,3.022059,1.815025,2.956637,0.429651,0.621756,13.299945,0.960087,1.402967,0.693195,...,1.365363e+07,1.111989,11.266285,5.233994,5.813231,1.662477e+07,1.568409e+07,1.335073e+07,1.103684e+07,1.687566e+07
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.500000e+04,2019.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,365.500000,0.000000,0.000000,1.000000,0.000000,0.200000,71.000000,0.300000,0.000000,0.400000,...,1.500000e+06,2020.000000,3.000000,1.000000,6.000000,5.000000e+05,2.500000e+05,0.000000e+00,0.000000e+00,1.000000e+06
50%,1164.000000,0.000000,0.000000,2.000000,0.000000,0.500000,78.400000,0.700000,0.000000,0.800000,...,3.200000e+06,2021.000000,13.000000,4.000000,11.000000,2.400000e+06,1.500000e+06,8.000000e+05,4.000000e+05,3.000000e+06
75%,2050.500000,2.000000,2.000000,5.000000,0.000000,0.900000,84.300000,1.300000,1.000000,1.300000,...,9.750000e+06,2022.000000,23.000000,8.000000,16.000000,9.500000e+06,7.500000e+06,5.000000e+06,3.000000e+06,1.000000e+07
max,3420.000000,30.000000,21.000000,15.000000,3.000000,5.600000,100.000000,8.700000,22.000000,6.000000,...,1.120000e+08,2022.000000,38.000000,29.000000,20.000000,1.800000e+08,1.500000e+08,1.200000e+08,1.200000e+08,1.800000e+08

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2267 entries, 28003 to 336828
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          2267 non-null   object
 1   Mins            2267 non-null   int64
 2   Goals           2267 non-null   int64
 3   Assists         2267 non-null   int64
 4   Yel             2267 non-null   int64
 5   Red             2267 non-null   int64
 6   SpG             2267 non-null   float64
 7   PS%             2267 non-null   float64
 8   AerialsWon      2267 non-null   float64
 9   MotM            2267 non-null   int64
 10  Tackles         2267 non-null   float64
 11  Inter           2267 non-null   float64
 12  Fouls           2267 non-null   float64
 13  Offsides        2267 non-null   float64
 14  Clear           2267 non-null   float64
 15  DeffDrb         2267 non-null   float64
 16  Blocks          2267 non-null   float64
 17  OwnG            2267 non-null   int64
 18  KeyP            2267 non-null   float64
 19  OffDrb          2267 non-null   float64
 20  Fouled          2267 non-null   float64
 21  Off             2267 non-null   float64
 22  Disp            2267 non-null   float64
 23  UnsTch          2267 non-null   float64
 24  AvgP            2267 non-null   float64
 25  Crosses         2267 non-null   float64
 26  LongB           2267 non-null   float64
 27  ThrB            2267 non-null   float64
 28  año             2267 non-null   object
 29  Equipo          2267 non-null   object
 30  index           2267 non-null   float64
 31  position        2267 non-null   object
 32  age             2267 non-null   int64
 33  nationality     2267 non-null   object
 34  height          2267 non-null   float64
 35  marketValue     2267 non-null   float64
 36  Año_natural     2267 non-null   int64
 37  Titularidades   2267 non-null   int64
 38  Suplencias      2267 non-null   int64
 39  Equipo_pos      2267 non-null   int64
 40  1_año_anterior  2267 non-null   float64
 41  2_año_anterior  2267 non-null   float64
 42  3_año_anterior  2267 non-null   float64
 43  4_año_anterior  2267 non-null   float64
 44  5_año_anterior  2267 non-null   float64
dtypes: float64(28), int64(12), object(5)
memory usage: 814.7+ KB

In [9]:
# Resetear el índice del DataFrame original
df.reset_index(drop=True, inplace=True)
df

,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,...,marketValue,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
0,Lionel Messi,2881,25,21,4,0,4.8,82.6,0.3,22,...,112000000.0,2019,32,1,2,120000000.0,120000000.0,120000000.0,120000000.0,180000000.0
1,Guillermo Maripán,90,0,0,0,0,0.0,75.0,5.0,0,...,11000000.0,2019,1,0,16,800000.0,550000.0,0.0,0.0,1500000.0
2,Casemiro,3091,4,3,12,0,1.3,84.1,2.9,3,...,64000000.0,2019,35,0,1,30000000.0,20000000.0,10000000.0,6000000.0,60000000.0
3,Karim Benzema,3155,21,8,0,0,3.4,86.2,0.8,10,...,32000000.0,2019,36,1,1,60000000.0,60000000.0,50000000.0,45000000.0,40000000.0
4,Luis Suárez,2002,16,8,4,0,2.8,75.5,0.4,3,...,28000000.0,2019,22,6,2,90000000.0,90000000.0,80000000.0,60000000.0,70000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2262,Javier Pastore,4,0,0,0,0,0.0,85.7,0.0,0,...,500000.0,2022,0,1,20,5000000.0,15000000.0,15000000.0,20000000.0,1500000.0
2263,Iván Romero,10,0,0,1,0,0.0,33.3,1.0,0,...,800000.0,2022,0,1,11,50000.0,0.0,0.0,0.0,500000.0
2264,Roger Martínez,6,0,0,0,0,1.0,100.0,0.0,0,...,400000.0,2022,0,1,19,0.0,0.0,0.0,0.0,100000.0
2265,Carlos Álvarez,9,0,0,1,0,0.0,100.0,0.0,0,...,400000.0,2022,0,1,11,100000.0,100000.0,0.0,0.0,300000.0
2266,Pape Cheikh,36,0,0,1,1,0.0,73.7,0.0,0,...,900000.0,2022,1,2,20,5500000.0,7000000.0,3000000.0,800000.0,2500000.0

In [10]:
df['position'].unique()

array(['Right Winger', 'Centre-Back', 'Defensive Midfield',
       'Centre-Forward', 'Central Midfield', 'Left Winger',
       'Attacking Midfield', 'Right-Back', 'Goalkeeper', 'Left-Back',
       'Left Midfield', 'Second Striker'], dtype=object)

In [11]:
df_original = df.copy()

In [12]:
df[df['nationality'] == 'Sweden']

,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,...,marketValue,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
361,Alexander Isak,1500,9,1,4,0,1.2,73.4,0.6,0,...,22500000.0,2019,14,23,6,6000000.0,400000.0,0.0,0.0,6000000.0
490,John Guidetti,95,0,0,0,0,0.4,62.5,0.2,0,...,1600000.0,2019,1,4,16,8000000.0,5000000.0,3500000.0,3500000.0,4000000.0
579,Alexander Isak,2361,17,2,4,0,2.4,72.7,1.2,6,...,40000000.0,2020,30,4,5,6000000.0,6000000.0,400000.0,0.0,8000000.0
1066,John Guidetti,201,1,0,1,0,0.5,73.1,0.4,0,...,1200000.0,2020,1,9,16,4000000.0,8000000.0,5000000.0,3500000.0,3000000.0
1238,Alexander Isak,2157,6,2,6,0,2.3,74.3,0.9,0,...,30000000.0,2021,26,6,6,8000000.0,6000000.0,6000000.0,400000.0,22500000.0
1486,Ludwig Augustinsson,790,0,1,3,0,0.2,84.8,0.8,0,...,5000000.0,2021,9,10,4,12000000.0,7500000.0,4000000.0,3500000.0,9500000.0
1636,John Guidetti,274,0,0,2,0,1.0,77.1,0.1,0,...,1000000.0,2021,2,8,20,3000000.0,4000000.0,8000000.0,5000000.0,1600000.0
1676,Omar Faraj,3,0,0,0,0,0.0,0.0,0.0,0,...,100000.0,2021,0,1,19,0.0,0.0,0.0,0.0,0.0
1793,Alexander Isak,154,1,0,0,0,1.5,63.0,0.0,0,...,70000000.0,2022,2,0,4,22500000.0,8000000.0,6000000.0,6000000.0,40000000.0
2204,Ludwig Augustinsson,130,0,0,0,0,0.0,70.4,1.0,0,...,2500000.0,2022,1,3,9,9500000.0,12000000.0,7500000.0,4000000.0,10000000.0
2215,Williot Swedberg,52,0,0,1,0,0.0,82.4,0.0,0,...,3000000.0,2022,0,4,13,0.0,0.0,0.0,0.0,1800000.0

In [13]:
df = df.drop(['año', 'Player','index'], axis = 1)

In [16]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

variables = ['Equipo', 'position', 'nationality']

# Inicializar el codificador one-hot
# Nota: A partir de sklearn 1.0, la salida por defecto es densa, por lo que no es necesario sparse=False.
one_hot_encoder = OneHotEncoder()

# Transformar las variables categóricas usando one-hot encoding
# Aquí usamos .toarray() para garantizar que la salida es densa en caso de que el comportamiento predeterminado cambie.
one_hot_encoded = one_hot_encoder.fit_transform(df[variables]).toarray()

# Obtener los nombres de las columnas después de la codificación one-hot
one_hot_encoded_names = one_hot_encoder.get_feature_names_out(variables)

# Convertir la salida en un DataFrame y asignar nombres a las columnas
one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoded_names)

# Concatenar el DataFrame original con el DataFrame de las variables codificadas
df = pd.concat([df, one_hot_encoded_df], axis=1)

# Eliminar las columnas originales de las variables categóricas
df = df.drop(variables, axis=1)

# Mostrar los primeros registros del DataFrame con las variables codificadas
df.head()

,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,Tackles,...,nationality_Switzerland,nationality_The Gambia,nationality_Türkiye,nationality_Ukraine,nationality_United States,nationality_Uruguay,nationality_Venezuela,nationality_Wales,nationality_Zambia,nationality_Zimbabwe
0,2881,25,21,4,0,4.8,82.6,0.3,22,0.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,90,0,0,0,0,0.0,75.0,5.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3091,4,3,12,0,1.3,84.1,2.9,3,2.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3155,21,8,0,0,3.4,86.2,0.8,10,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2002,16,8,4,0,2.8,75.5,0.4,3,0.1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2267 entries, 0 to 2266
Columns: 150 entries, Mins to nationality_Zimbabwe
dtypes: float64(138), int64(12)
memory usage: 2.6 MB

In [18]:
df1 = df[df['marketValue'] < 80000000].copy()

In [19]:
c = ['Mins', 'Goals', 'Assists', 'Yel', 'Red', 'SpG', 'PS%', 'AerialsWon', 'MotM', 'Tackles', 'Inter', 
             'Fouls', 'Offsides', 'Clear', 'DeffDrb', 'Blocks', 'OwnG', 'KeyP', 'OffDrb', 'Fouled', 'Off', 
             'Disp', 'UnsTch', 'AvgP', 'Crosses', 'LongB', 'ThrB', 'age', 'height', 'Año_natural', 'Titularidades', 
             'Suplencias', 'Equipo_pos', '1_año_anterior', '2_año_anterior', '3_año_anterior', '4_año_anterior', 
             '5_año_anterior', 'Equipo_Athletic Bilbao', 'Equipo_Atlético de Madrid', 'Equipo_CA Osasuna', 
             'Equipo_CD Leganés', 'Equipo_Celta de Vigo', 'Equipo_Cádiz CF', 'Equipo_Deportivo Alavés', 
             'Equipo_Elche CF', 'Equipo_FC Barcelona', 'Equipo_Getafe CF', 'Equipo_Girona FC', 'Equipo_Granada CF', 
             'Equipo_Levante UD', 'Equipo_RCD Espanyol Barcelona', 'Equipo_RCD Mallorca', 'Equipo_Rayo Vallecano', 
             'Equipo_Real Betis Balompié', 'Equipo_Real Madrid', 'Equipo_Real Sociedad', 'Equipo_Real Valladolid CF', 
             'Equipo_SD Eibar', 'Equipo_SD Huesca', 'Equipo_Sevilla FC', 'Equipo_UD Almería', 'Equipo_Valencia CF', 
             'Equipo_Villarreal CF', 'position_Attacking Midfield', 'position_Central Midfield', 'position_Centre-Back', 
             'position_Centre-Forward', 'position_Defensive Midfield', 'position_Goalkeeper', 'position_Left Midfield', 
             'position_Left Winger', 'position_Left-Back', 'position_Right Winger', 'position_Right-Back', 
             'position_Second Striker', 'nationality_Albania', 'nationality_Algeria', 'nationality_Angola', 
             'nationality_Argentina', 'nationality_Armenia', 'nationality_Australia', 'nationality_Austria', 
             'nationality_Belgium', 'nationality_Bosnia-Herzegovina', 'nationality_Brazil', 'nationality_Cameroon', 
             'nationality_Canada', 'nationality_Cape Verde', 'nationality_Central African Republic', 'nationality_Chile', 
             'nationality_Colombia', 'nationality_Costa Rica', 'nationality_Cote d\'Ivoire', 'nationality_Croatia', 
             'nationality_Czech Republic', 'nationality_DR Congo', 'nationality_Denmark', 'nationality_Dominican Republic', 
             'nationality_Ecuador', 'nationality_England', 'nationality_Equatorial Guinea', 'nationality_France', 
             'nationality_Gabon', 'nationality_Georgia', 'nationality_Germany', 'nationality_Ghana', 'nationality_Greece', 
             'nationality_Guadeloupe', 'nationality_Guinea', 'nationality_Guinea-Bissau', 'nationality_Ireland', 
             'nationality_Israel', 'nationality_Italy', 'nationality_Japan', 'nationality_Kosovo', 'nationality_Mali', 
             'nationality_Martinique', 'nationality_Mauritania', 'nationality_Mexico', 'nationality_Montenegro', 
             'nationality_Morocco', 'nationality_Netherlands', 'nationality_Nigeria', 'nationality_North Macedonia', 
             'nationality_Norway', 'nationality_Paraguay', 'nationality_Peru', 'nationality_Poland', 'nationality_Portugal', 
             'nationality_Romania', 'nationality_Russia', 'nationality_Scotland', 'nationality_Senegal', 'nationality_Serbia', 
             'nationality_Slovakia', 'nationality_Slovenia', 'nationality_Spain', 'nationality_Sweden', 'nationality_Switzerland', 
             'nationality_The Gambia', 'nationality_Türkiye', 'nationality_Ukraine', 'nationality_United States', 
             'nationality_Uruguay', 'nationality_Venezuela', 'nationality_Wales', 'nationality_Zambia', 'nationality_Zimbabwe', 
             'marketValue'] 

# Reordenar las columnas
datos = df1[c]

In [20]:
datos

,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,Tackles,...,nationality_The Gambia,nationality_Türkiye,nationality_Ukraine,nationality_United States,nationality_Uruguay,nationality_Venezuela,nationality_Wales,nationality_Zambia,nationality_Zimbabwe,marketValue
1,90,0,0,0,0,0.0,75.0,5.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11000000.0
2,3091,4,3,12,0,1.3,84.1,2.9,3,2.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64000000.0
3,3155,21,8,0,0,3.4,86.2,0.8,10,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32000000.0
4,2002,16,8,4,0,2.8,75.5,0.4,3,0.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,28000000.0
5,3144,5,1,9,0,1.2,75.8,5.1,5,2.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2262,4,0,0,0,0,0.0,85.7,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500000.0
2263,10,0,0,1,0,0.0,33.3,1.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,800000.0
2264,6,0,0,0,0,1.0,100.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400000.0
2265,9,0,0,1,0,0.0,100.0,0.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400000.0
2266,36,0,0,1,1,0.0,73.7,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900000.0

In [21]:
datos = datos.reset_index()

In [22]:
datos = datos.drop('index', axis = 1)
datos

,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,MotM,Tackles,...,nationality_The Gambia,nationality_Türkiye,nationality_Ukraine,nationality_United States,nationality_Uruguay,nationality_Venezuela,nationality_Wales,nationality_Zambia,nationality_Zimbabwe,marketValue
0,90,0,0,0,0,0.0,75.0,5.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11000000.0
1,3091,4,3,12,0,1.3,84.1,2.9,3,2.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64000000.0
2,3155,21,8,0,0,3.4,86.2,0.8,10,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32000000.0
3,2002,16,8,4,0,2.8,75.5,0.4,3,0.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,28000000.0
4,3144,5,1,9,0,1.2,75.8,5.1,5,2.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,4,0,0,0,0,0.0,85.7,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500000.0
2247,10,0,0,1,0,0.0,33.3,1.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,800000.0
2248,6,0,0,0,0,1.0,100.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400000.0
2249,9,0,0,1,0,0.0,100.0,0.0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400000.0
2250,36,0,0,1,1,0.0,73.7,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,900000.0

In [28]:
datos.to_parquet("datos_preparados_solo_entrenamiento.parquet")