In [1]:
import os
import requests
import pandas as pd

def descargar_archivo_directo(id_archivo, directorio_destino, archivo_destino):
    # Construye la URL de descarga directa utilizando el ID del archivo
    url = f"https://drive.google.com/uc?export=download&id={id_archivo}"

    # Realiza la petición HTTP GET para descargar el archivo
    respuesta = requests.get(url, allow_redirects=True)

    # Comprueba que el directorio destino existe, si no, lo crea
    os.makedirs(directorio_destino, exist_ok=True)

    # Construye la ruta completa donde se guardará el archivo en local
    ruta_completa = os.path.join(directorio_destino, archivo_destino)

    # Guarda el contenido del archivo descargado en local
    with open(ruta_completa, 'wb') as archivo:
        archivo.write(respuesta.content)

    return archivo_destino, ruta_completa


def procesar_archivo_info(ruta_archivo_info):
    archivos_info = []
    with open(ruta_archivo_info, 'r') as archivo:
        for linea in archivo:
            id_archivo, nombre_archivo, directorio_destino = linea.strip().split(',')
            archivos_info.append((id_archivo, nombre_archivo, directorio_destino))
    return archivos_info


# Ruta al archivo que contiene la información de los archivos a descargar
ruta_archivo_info = "info_archivos_GDrive.txt"

    # Obtenemos la lista con la info de los archivos del fichero
archivos_a_descargar = procesar_archivo_info(ruta_archivo_info)

    # Descargamos cada archivo de la lista
for id_archivo, nombre_archivo, directorio_destino in archivos_a_descargar:
    nombre_archivo_descargado, ruta_archivo_guardado = descargar_archivo_directo(id_archivo, directorio_destino,
                                                                                     nombre_archivo)
    print(f"Archivo {nombre_archivo_descargado} guardado en: {ruta_archivo_guardado}")
import pandas as pd

df = pd.read_parquet(ruta_archivo_guardado, engine = "pyarrow")

,id,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,...,Anio,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
0,581678,Jude Bellingham,2120,17,4,5,1,2.3,89.3,1.0,...,2023-2024,2023,25,0,1,120000000.0,80000000.0,55000000.0,11000000.0,2500000.0
1,991268,Samu Omorodion,81,1,0,0,0,3.0,66.7,2.0,...,2023-2024,2023,1,0,19,200000.0,50000.0,0.0,0.0,0.0
2,371998,Vinicius Junior,1678,13,5,6,0,3.0,77.7,0.0,...,2023-2024,2023,20,3,1,150000000.0,100000000.0,40000000.0,45000000.0,70000000.0
3,85288,Isco,2211,7,4,10,0,2.3,86.4,0.6,...,2023-2024,2023,26,1,7,5000000.0,7500000.0,18000000.0,40000000.0,60000000.0
4,743591,Sávio,2619,8,8,5,0,1.1,82.4,0.1,...,2023-2024,2023,31,1,3,5000000.0,6000000.0,5000000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,118997,Aitor Fernández,371,0,0,2,0,0.0,65.5,0.0,...,2023-2024,2023,5,1,11,3000000.0,2500000.0,6000000.0,10000000.0,2500000.0
445,251896,Jesús Vallejo,106,0,0,1,0,0.0,91.4,0.0,...,2023-2024,2023,1,2,19,2000000.0,3000000.0,5000000.0,6000000.0,10000000.0
446,625014,Julen Agirrezabala,90,0,0,0,0,0.0,63.3,0.0,...,2023-2024,2023,1,0,5,5000000.0,5000000.0,500000.0,50000.0,0.0
447,81997,Fernando Martínez,180,0,0,0,0,0.0,58.0,0.0,...,2023-2024,2023,2,0,20,2000000.0,800000.0,400000.0,325000.0,300000.0
448,284430,Aarón Escandell,153,0,0,0,1,0.0,72.0,0.0,...,2023-2024,2023,2,1,14,1000000.0,1000000.0,1000000.0,1000000.0,300000.0

In [2]:
# Seleccionamos las columnas deseadas
columnas = ["Mins", "Assists", "Red", "MotM", "Goals", "Assists", "Yel", "OwnG", "Titularidades"]

# Calculamos las proyecciones para cada variable
jornada_actual = 33
jornadas_restantes = 38 - 33
proyecciones = {}

for columna in columnas:
    proyecciones[columna] = (df[columna] / jornada_actual * jornadas_restantes).apply(lambda x: round(x))

# Sumamos las proyecciones a cada columna del DataFrame original
for columna in columnas:
    df[columna] += proyecciones[columna]
df

,id,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,...,Anio,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
0,581678,Jude Bellingham,2441,20,6,6,1,2.3,89.3,1.0,...,2023-2024,2023,29,0,1,120000000.0,80000000.0,55000000.0,11000000.0,2500000.0
1,991268,Samu Omorodion,93,1,0,0,0,3.0,66.7,2.0,...,2023-2024,2023,1,0,19,200000.0,50000.0,0.0,0.0,0.0
2,371998,Vinicius Junior,1932,15,7,7,0,3.0,77.7,0.0,...,2023-2024,2023,23,3,1,150000000.0,100000000.0,40000000.0,45000000.0,70000000.0
3,85288,Isco,2546,8,6,12,0,2.3,86.4,0.6,...,2023-2024,2023,30,1,7,5000000.0,7500000.0,18000000.0,40000000.0,60000000.0
4,743591,Sávio,3016,9,10,6,0,1.1,82.4,0.1,...,2023-2024,2023,36,1,3,5000000.0,6000000.0,5000000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,118997,Aitor Fernández,427,0,0,2,0,0.0,65.5,0.0,...,2023-2024,2023,6,1,11,3000000.0,2500000.0,6000000.0,10000000.0,2500000.0
445,251896,Jesús Vallejo,122,0,0,1,0,0.0,91.4,0.0,...,2023-2024,2023,1,2,19,2000000.0,3000000.0,5000000.0,6000000.0,10000000.0
446,625014,Julen Agirrezabala,104,0,0,0,0,0.0,63.3,0.0,...,2023-2024,2023,1,0,5,5000000.0,5000000.0,500000.0,50000.0,0.0
447,81997,Fernando Martínez,207,0,0,0,0,0.0,58.0,0.0,...,2023-2024,2023,2,0,20,2000000.0,800000.0,400000.0,325000.0,300000.0
448,284430,Aarón Escandell,176,0,0,0,1,0.0,72.0,0.0,...,2023-2024,2023,2,1,14,1000000.0,1000000.0,1000000.0,1000000.0,300000.0

In [3]:
# Extrae la columna que quieres mover
col = df.pop('marketValue')

# Inserta la columna en la última posición
df.insert(len(df.columns), 'marketValue', col)

In [4]:
df

,id,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,...,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior,marketValue
0,581678,Jude Bellingham,2441,20,6,6,1,2.3,89.3,1.0,...,2023,29,0,1,120000000.0,80000000.0,55000000.0,11000000.0,2500000.0,180000000.0
1,991268,Samu Omorodion,93,1,0,0,0,3.0,66.7,2.0,...,2023,1,0,19,200000.0,50000.0,0.0,0.0,0.0,40000000.0
2,371998,Vinicius Junior,1932,15,7,7,0,3.0,77.7,0.0,...,2023,23,3,1,150000000.0,100000000.0,40000000.0,45000000.0,70000000.0,150000000.0
3,85288,Isco,2546,8,6,12,0,2.3,86.4,0.6,...,2023,30,1,7,5000000.0,7500000.0,18000000.0,40000000.0,60000000.0,8000000.0
4,743591,Sávio,3016,9,10,6,0,1.1,82.4,0.1,...,2023,36,1,3,5000000.0,6000000.0,5000000.0,0.0,0.0,40000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,118997,Aitor Fernández,427,0,0,2,0,0.0,65.5,0.0,...,2023,6,1,11,3000000.0,2500000.0,6000000.0,10000000.0,2500000.0,2000000.0
445,251896,Jesús Vallejo,122,0,0,1,0,0.0,91.4,0.0,...,2023,1,2,19,2000000.0,3000000.0,5000000.0,6000000.0,10000000.0,1500000.0
446,625014,Julen Agirrezabala,104,0,0,0,0,0.0,63.3,0.0,...,2023,1,0,5,5000000.0,5000000.0,500000.0,50000.0,0.0,5000000.0
447,81997,Fernando Martínez,207,0,0,0,0,0.0,58.0,0.0,...,2023,2,0,20,2000000.0,800000.0,400000.0,325000.0,300000.0,800000.0
448,284430,Aarón Escandell,176,0,0,0,1,0.0,72.0,0.0,...,2023,2,1,14,1000000.0,1000000.0,1000000.0,1000000.0,300000.0,1000000.0

In [5]:
df.to_parquet("test.parquet")

In [6]:
df.to_csv("test.csv")