In [21]:
 import pandas as pd


 df = pd.read_csv(r"C:\Users\Usuario\Documents\Alvaro\Carrera\2-Segundo\Segundo Cuatrimestre\Proyecto de Datos 1\PROYECTO-DATOS\Datos_la_liga_2023_preprocesados.csv")
 df

,id,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,...,Anio,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
0,581678,Jude Bellingham,2120,17,4,5,1,2.3,89.3,1.0,...,2023-2024,2023,25,0,1,120000000.0,80000000.0,55000000.0,11000000.0,2500000.0
1,991268,Samu Omorodion,81,1,0,0,0,3.0,66.7,2.0,...,2023-2024,2023,1,0,19,200000.0,50000.0,0.0,0.0,0.0
2,371998,Vinicius Junior,1678,13,5,6,0,3.0,77.7,0.0,...,2023-2024,2023,20,3,1,150000000.0,100000000.0,40000000.0,45000000.0,70000000.0
3,85288,Isco,2211,7,4,10,0,2.3,86.4,0.6,...,2023-2024,2023,26,1,7,5000000.0,7500000.0,18000000.0,40000000.0,60000000.0
4,743591,Sávio,2619,8,8,5,0,1.1,82.4,0.1,...,2023-2024,2023,31,1,3,5000000.0,6000000.0,5000000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,118997,Aitor Fernández,371,0,0,2,0,0.0,65.5,0.0,...,2023-2024,2023,5,1,11,3000000.0,2500000.0,6000000.0,10000000.0,2500000.0
445,251896,Jesús Vallejo,106,0,0,1,0,0.0,91.4,0.0,...,2023-2024,2023,1,2,19,2000000.0,3000000.0,5000000.0,6000000.0,10000000.0
446,625014,Julen Agirrezabala,90,0,0,0,0,0.0,63.3,0.0,...,2023-2024,2023,1,0,5,5000000.0,5000000.0,500000.0,50000.0,0.0
447,81997,Fernando Martínez,180,0,0,0,0,0.0,58.0,0.0,...,2023-2024,2023,2,0,20,2000000.0,800000.0,400000.0,325000.0,300000.0
448,284430,Aarón Escandell,153,0,0,0,1,0.0,72.0,0.0,...,2023-2024,2023,2,1,14,1000000.0,1000000.0,1000000.0,1000000.0,300000.0

In [22]:
# Seleccionamos las columnas deseadas
columnas = ["Mins", "Assists", "Red", "MotM", "Goals", "Assists", "Yel", "OwnG"]

# Calculamos las proyecciones para cada variable
jornada_actual = 33
jornadas_restantes = 38 - 33
proyecciones = {}

for columna in columnas:
    proyecciones[columna] = df[columna] / jornada_actual * jornadas_restantes

# Sumamos las proyecciones a cada columna del DataFrame original
for columna in columnas:
    df[columna] += proyecciones[columna]
df

,id,Player,Mins,Goals,Assists,Yel,Red,SpG,PS%,AerialsWon,...,Anio,Año_natural,Titularidades,Suplencias,Equipo_pos,1_año_anterior,2_año_anterior,3_año_anterior,4_año_anterior,5_año_anterior
0,581678,Jude Bellingham,2441.212121,19.575758,5.212121,5.757576,1.151515,2.3,89.3,1.0,...,2023-2024,2023,25,0,1,120000000.0,80000000.0,55000000.0,11000000.0,2500000.0
1,991268,Samu Omorodion,93.272727,1.151515,0.000000,0.000000,0.000000,3.0,66.7,2.0,...,2023-2024,2023,1,0,19,200000.0,50000.0,0.0,0.0,0.0
2,371998,Vinicius Junior,1932.242424,14.969697,6.515152,6.909091,0.000000,3.0,77.7,0.0,...,2023-2024,2023,20,3,1,150000000.0,100000000.0,40000000.0,45000000.0,70000000.0
3,85288,Isco,2546.000000,8.060606,5.212121,11.515152,0.000000,2.3,86.4,0.6,...,2023-2024,2023,26,1,7,5000000.0,7500000.0,18000000.0,40000000.0,60000000.0
4,743591,Sávio,3015.818182,9.212121,10.424242,5.757576,0.000000,1.1,82.4,0.1,...,2023-2024,2023,31,1,3,5000000.0,6000000.0,5000000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,118997,Aitor Fernández,427.212121,0.000000,0.000000,2.303030,0.000000,0.0,65.5,0.0,...,2023-2024,2023,5,1,11,3000000.0,2500000.0,6000000.0,10000000.0,2500000.0
445,251896,Jesús Vallejo,122.060606,0.000000,0.000000,1.151515,0.000000,0.0,91.4,0.0,...,2023-2024,2023,1,2,19,2000000.0,3000000.0,5000000.0,6000000.0,10000000.0
446,625014,Julen Agirrezabala,103.636364,0.000000,0.000000,0.000000,0.000000,0.0,63.3,0.0,...,2023-2024,2023,1,0,5,5000000.0,5000000.0,500000.0,50000.0,0.0
447,81997,Fernando Martínez,207.272727,0.000000,0.000000,0.000000,0.000000,0.0,58.0,0.0,...,2023-2024,2023,2,0,20,2000000.0,800000.0,400000.0,325000.0,300000.0
448,284430,Aarón Escandell,176.181818,0.000000,0.000000,0.000000,1.151515,0.0,72.0,0.0,...,2023-2024,2023,2,1,14,1000000.0,1000000.0,1000000.0,1000000.0,300000.0

In [23]:
df.to_parquet("test.parquet")

In [24]:
df.to_csv("test.csv")